<template name="boardFormInsert">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Create board</h4>
        </div>

        <div class="modal-body">
          {{#autoForm
             id="boardFormInsert"
             type="method"
             meteormethod="boards.methods.insertData"
             schema=schema
             templateModal=templateModal
          }}
            {{> afQuickField name="name"}}
            {{> afQuickField name="description"}}
            {{> afQuickField name="isPrivate"}}
            <button class="btn btn-default js-cancel">Cancel</button>
            <button type="submit" class="btn btn-primary">Create</button>
          {{/autoForm}}
        </div>
        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        -->
      </div>
     </div>
   </div>
</template>
