<Template name="userProfileHeader">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="page-header">
        <h1>{{user.username}}</h1>
      </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
          <a href={{pathFor 'App.boards_page' username=user.username}}>
            Boards <span class="badge">{{user.boardCount}}</span>
          </a>
        </li>
        <li role="presentation">
          <a href={{pathFor 'App.pins_page' username=user.username}}>
            Pins <span class="badge">{{user.pinCount}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</Template>
