<template name="board_page">
  {{#if Template.subscriptionsReady}}
  <div class="row">
    <div class="col-sm-6">

      <h1>{{board.name}}</h1>
      <p>{{board.description}}</p>
      <p>number of pins: {{pinsCount}}</p>

      {{#if isOwner board}}
        {{#with board}}
        <button type="button" class="btn btn-default js-edit-board" data-toggle="modal" data-target="#editBoardModal">Edit</button>
        {{/with}}
      {{/if}}

      {{> Template.dynamic template=board_edit_form}}
      {{> Template.dynamic template=pin_move_form}}
   </div>
 </div>

 <div class="row">
   <div class="col-sm-6">
     <!-- rename isOwner helpers to userIsOwnerOf -->
     {{#if isOwner board}}
       {{> pin_insert_form boardId=board._id}}
     {{/if}}

   </div>
 </div>

 <div class="row">
   <div class="col-sm-6">
     {{> pin_list}}
     {{> Template.dynamic template=pin_edit_form}}
   </div>
 </div>

 {{/if}}

</template>
