<template name="pin_thumbnail">
  <div class="row">
    <div class="col-sm-6">

      <a href="{{pathFor 'pinPage' pinId=pin._id}}">
        <div class="well">
          <h2>{{pin.title}}</h2>
          <img src="{{pin.imgUrl}}" class="img-responsive" alt="" />
        </div>
      </a>
        {{#if isOwner pin}}
          <button type="button" class="btn btn-primary js-move-pin" data-toggle="modal" data-target="#movePinModal">Move</button>
          <button type="button" class="btn btn-default js-edit-pin" data-toggle="modal" data-target="#editPinModal">Edit</button>
        {{/if}}

    </div>
  </div>
</template>
