<template name="pin_page">
  {{#if Template.subscriptionsReady}}
  <div class="row">
    <div class="col-sm-6">
      {{#if pin}}
        <h2>{{pin.title}}</h2>
        <img src="{{pin.imgUrl}}" class="img-responsive" alt="" />

        {{#if isOwner pin}}
          {{#with pin}}
            <button type="button" class="btn btn-default js-edit-pin" data-toggle="modal" data-target="#editPinModal">Edit</button>
          {{/with}}
        {{/if}}

        {{> Template.dynamic template=pin_edit_form}}
        {{else}}
          {{> not_found_page}}
      {{/if}}
   </div>
 </div>
 {{/if}}

</template>
