<template name="boardFormUpdate">
  {{ #autoForm
     id="BoardFormUpdate"
     type="method-update"
     meteormethod="Board.methods.updateData"
     singleMethodArgument=true
     collection=collection
     doc=doc
     modal=modal
  }}
    <fieldset>
      <legend>Edit board</legend>
      <div>
        {{> afQuickField name="name"}}
      </div>
      <div>
        {{> afQuickField name="description"}}
      </div>
    </fieldset>

    <button type="submit" class="btn btn-primary">Save</button>
  {{/autoForm}}
</template>
