<template name="pin_edit_form">
  {{#modal title='Edit pin' id='pin-edit-modal'}}
    <div class="row">
      <div class="col-sm-6">
        {{#autoForm collection="Pins" doc=pin id="pin_edit_form" type="update"}}
          <fieldset>
          <legend>Edit a Pin</legend>
          {{> afQuickField name='title'}}
          {{> afQuickField name='imgUrl'}}
          </fieldset>
          <button type="submit" class="btn btn-primary">Save</button>
        {{/autoForm}}
        {{> quickRemoveButton collection="Pins" _id=pin._id class="btn btn-danger"}}
      </div>
    </div>
  {{/modal}}
</template>
