<template name="userToolBar">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="dropdown">
        <button
          type="button"
          class="btn btn-lg"
          id="dropdownMenu1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="true"
        >
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li>
            <button type="button" class="btn btn-link btn-default js-board-create">
              create a board
            </button>
          </li>
          <li>
            <button type="button" class="btn btn-link btn-default js-pin-create">
              create a pin
            </button>
          </li>
        </ul>
      </div>
    <!--
    <div class="btn-toolbar" role="toolbar" aria-label="...">
      <div class="btn-group" role="group" aria-label="...">
       <button type="button" class="btn btn-link btn-lg js-board-create">
         <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
       </button>
      </div>
    </div>
    -->
    </div>
  </div>
</template>
