<template name="confirmBoardRemove">
  <div class="modal">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h4 class="modal-title">Are you sure?</h4>
        </div>

        <div class="modal-body">
          <p>Once you delete a board and all its Pins, you can't undo it!</p>
          <button class="btn btn-default js-cancel">Cancel</button>
          <button type="submit" class="btn btn-danger js-delete">Delete</button>
        </div>
      </div>
     </div>
   </div>
</template>
